
@media (max-width: 576px) {
    #inicio{
        height: 250px;
        margin: 0;
        
    }
    .header-content {
        display: flex;
        flex-direction: column;
      margin:25px;
 height: 250px;
        h1{
            font-size: 20px;
            font-weight: 10px;
            padding: 5%;
            padding-bottom: 0%;
           
        }

        p {
            font-size: 12px; /* Tamaño de fuente de los párrafos */
         padding-left:15px;
         padding-top: -55px;
         padding-right: 25px;
         margin: 0px;
        }

    }

  

    .cta-button {
       
            font-size: 15px;
                width: 100px; /* Ajustar el tamaño del botón */
        margin-left: 0px; 
       
    }

    .navbar {
        flex-direction: row; /* Cambiar a columna para el menú hamburguesa */
        position: absolute;
        justify-content: space-between;
       margin-top: 0px;

      
    }

  .hamburguesa {
        display: block; /* Mostrar el botón hamburguesa en pantallas pequeñas */
        cursor: pointer;
        font-size: 15px; /* Tamaño del icono hamburguesa */
       margin: 10px 500px;
      
    }

    .responsive-logo {
        width: 80%; /* Ajustar el tamaño del logo */
        max-width: 150px; /* Máximo tamaño para logo */
    }

    .social-buttons {
        display: none; /* Quitar los social buttons */
    }

    



    .nav-items {
       
        display: flex; /* Mostrar el menú cuando está activo */
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        flex-direction: column;
        background-color: antiquewhite;

    }
    .nav-items li a {
        text-decoration: none;
        color: #FF5C22;

    }

    /* Modificar el estilo de los enlaces en el menú */
    .nav-items li {
        margin: 5px 0; /* Espaciado vertical entre los elementos */
    }
}

@media(max-width:768px){
    #inicio{
        background-image:none;
        height: 400px;
        margin: 0;
        
    }
   

        .header-content {
            height:100px;
            width: 100%;
            padding-top: 50px;
            padding-left: 0px;
            

            p{ font-size: 10px;
            text-align: left;
        font-weight: 2px;
    margin-left: 15px;
margin-right: 5px;
margin-bottom: -25px;}

h1{
    font-size: 25px;
    font-weight: 10px;
    padding-top: 5%;
    padding-bottom: 0%;
   padding-left: 25px;
    margin-top: -25px;
}
   
        }
        h2{
            font-size: 35px;
        }
            
        .cta-button{
            position: relative;
            width: 150px;
            color: #161616;
            padding: 5px 5px;
           
            font-size: 10px;
            margin-top:0;
            margin-left: inherit;
            
        }
        .hamburguesa {
            position: absolute;
            display: block; /* Mostrar el botón hamburguesa en pantallas pequeñas */
            cursor: pointer;
            font-size: 30px; /* Tamaño del icono hamburguesa */
            margin: 10px 500px; /* Espaciado */
        }
        .nav-items {
            display: none; /* Ocultar el menú navegante inicialmente */
            flex-direction: row; /* Alinear los items de la lista en vertical */
         
            width: 100%; /* Ancho del menú */
    
            li{
                display: none;
            }
           
        }
    
    
        .nav-items.active {
            display: flex; /* Mostrar el menú cuando está activo */
        }
        
      
          } 
          
@media(max-width:768px){
    .lohabiaspensado {
        display: flex;
        flex-direction: column;
        height: 300px;
      
    }
    .lohabiaspensado1{
font-size: 30px;
padding: 15px;

width: 100%;
text-align: left;
    }
    .lohabiaspensado2 {
        text-align: left;
        font-size: 20px;
      padding: 15px;
    
    }
}

/*Problemas*/
@media(max-width:578px){
    .problems-section{
        display: flex;
        flex-direction: column;
        height: 2000px;
     margin-top: -190px;
       
    }
    #problem-colum-2{
        display: flex;
        flex-direction: column;
        margin-left: 50px;
       
        margin-top: 0px;
        width: 100%;
        padding-left: 100px;
    }
    .problem-item{
      
        height: 250px;
        width: 350px;
        margin:0;
        margin-top: 0;
        padding-top: 85px;
        padding-bottom: 0px;
        border-radius: 50px;
        margin-bottom: 20px;
    }
 

}
/*Conoceme*/

@media(max-width:578px){
    .contenedorGeneral{
        display: flex;
        flex-direction: column;
        height: 2000px;
    }
    .numeros-section{
        display: flex;
        flex-direction: column;
        padding: 0;
    }´
.numeros-1{
    padding: 100px;
    margin-top: 50px;
}
.numeros-2{
    padding-left: 280px;
    margin-top: -185px;
}

.trampolin{
    margin-left:-255px;
}
.palabras-item-3{
   img{
    
   }
    
}
}