:root {
    --naranja: #FF5C22;
    --violeta: #E0A5FF;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #f4f4ee;
}

#inicio {
    width: 100%;
}

.hamburguesa {
    display: none;
}

.hero-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    padding-left: 50px;
}

.hero-header p {
    padding-bottom: 20px;
}

.header-image {
    width: 45%;
}

.hero-header .top-title {
    width: 100%;
    display: none;
}

.header-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 50px 20px 50px 0;
}

.header-content p {
    font-size: 15px;
    color: #161616;
}

h1 {
    font-size: 45px;
    color: #161616;
    font-weight: 50;
}

h1 b {
    color: var(--naranja);
}


h2 {
    box-sizing: border-box;
    width: 100%;
    font-size: 50px;
    color: #161616;
    margin-top: -75px;
}


h3 {
    text-align: left;
    color: var(--naranja);
    font-size: 75px;
    font-weight: 700;
    line-height: 0.95em;
    background-image: url("../imagenes/PNG/Miscelaneas ES_estrella amarilla.png");
    background-repeat: no-repeat;
    background-position-y: -5px;
    background-position-x: 680px;
    background-size: 50px;
    -webkit-text-stroke-width: 1px;
    stroke-width: 1px;
    -webkit-text-stroke-color: var(--naranja);
    letter-spacing: 1px;
    padding-top: 10px;
    margin-top: 0;
    padding-bottom: 10px;
}

.cta-button {
    text-align: center;
    width: 200px;
    color: #161616;
    padding: 10px 10px;
    background-color: var(--naranja);
    border: #f4f4ee 2px;
    border-radius: 25px;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: var(--violeta);
}

.cta-button3 {
    text-align: center;
    width: 200px;
    color: #161616;
    padding: 10px 10px;
    background-color: var(--naranja);
    border: #f4f4ee 2px;
    border-radius: 25px;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-button3:hover {
    background-color: #FFB217;
}

.cta-button2 {
    text-align: center;
    width: 200px;
    color: #161616;
    padding: 10px 10px;
    background-color: var(--violeta);
    border: #f4f4ee 2px;
    border-radius: 25px;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-button2:hover {
    background-color: var(--naranja);
}

.cta-button4 {
    text-align: center;
    width: 300px;
    color: #161616;
    padding: 10px 10px;
    margin: 10px;
    border: solid #161616 1px;
    border-radius: 25px;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-button4:hover {
    background-color: var(--naranja);
}

.navbar {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: #f3f4ee;
    color: #161616;
    padding: 15px;
    width: 100%;
    flex-wrap: wrap;
}

.logo img {
    height: auto;
    /* Ajusta el tamaño del logo */
    width: 183px;
    align-items: start;
}

.nav-items {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-items li {
    margin: 15px;
}

.nav-items a {
    text-decoration: none;
    color: #161616;
    transition: color 0.3s;
}

.nav-items a:hover {
    color: var(--violeta);
    /* Color dorado al pasar el cursor */
}

.social-buttons {
    display: flex;
    align-items: center;
}

.social-logo {
    height: 20px;
    /* Ajusta el tamaño del logotipo */
    margin-left: 15px;
    /* Espaciado entre logos */
}

.social-logo:hover {
    opacity: 0.8;
    /* Efecto al pasar el cursor */
}


/*/Empresas/*/
.company-section {
    flex-direction: row;
    background-color: #161616;
    width: 100%;

}

.company-p {

    color: #f3f4ee;
    text-align: center;
    text-align: center;
    background-color: #161616;
    /* border-radius: 25px; */
    height: 20px;
    width: 300px;
    /* border: 1px solid var(--naranja); */
    /* margin-left: 40px;
    margin-bottom: -30px;
    padding-top: -40px;
    margin-top: 0px;
    padding-bottom: 5px;
    font-size: 1rem; */
}

.collaborated-companies {
    height: 150px;
    color: #f3f4ee;
    background-color: #161616;
    border-right: 0;
    border-left: 0;
    overflow: hidden;
}


.company-p p {}

.collaborated-companies h2::after {
    content: "";
    left: 0;
    bottom: 1px;
    height: 2px;
    /* Altura del subrayado */
    width: 100%;
    background-color: var(--naranja);
    /* Color naranja */
    transform: scaleX(0);
    /* Inicialmente no visible */
    transition: transform 0.10s ease;
    /* Animación de transición */
}

.collaborated-companies p {
    color: #f3f4ee;
    font-size: 2rem;
}


.company-logos {
    display: flex;
    height: 150px;
    overflow: visible;
    justify-content: space-evenly;
    /* Asegura que las imágenes se alineen en una sola línea */
    position: static;
    animation: scroll 30s linear infinite;
}

.company-logos img {
    display: flex;
    /* Asegura que cada imagen se trate como un bloque en línea */
    max-width: 400px;
    /* Ajusta el tamaño de las imágenes */
    height: auto;
    margin: 0 15px;
    /* Añade un margen entre las imágenes */
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
        /* Desplaza todo el ancho de una fila de logos */
    }
}

/*/Lo habias pensado/*/
.lohabiaspensado {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    background-color: var(--naranja);
    height: 300px;
    width: 100%;
}

.lohabiaspensado1 {
    box-sizing: border-box;
    width: 100%;
    text-align: right;
    font-size: 3rem;
    padding-top: 0px;

}

.lohabiaspensado2 {
    text-align: left;
    font-size: 1.2rem;
    padding-top: 90px;
    padding-left: 50px;
    padding-right: 250px;
}

/*/Presentación Eli/*/

#contenedor {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f3f4ee;
}

.hola {
    font-size: 50px;
}

#caja1 {
    align-self: center;
    height: 700px;
    padding-top: 50px;
    padding-left: 0;

}

.caja2 {
    box-sizing: border-box;
    width: 100%;

    align-self: center;
    font-size: 20px;
    padding: 30px 30px 30px 0;
    width: 100%;
}

.about-image {
    box-sizing: border-box;
    height: 700px;
    margin-top: -200px;
    padding-left: 100px;
}

/*/Presentación Eli 2/*/

#contenedor-3 {
    display: flex;
    flex-direction: row;
    background-color: #f3f4ee;
    background-image: url("../imagenes/PNG/Miscelaneas ES_estrella naranja.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 5%;
}

#caja5 {
    display: flex;
    flex-direction: row;
    align-self: center;
    padding: 0 0 0 400px;
    height: 900px;
}

#caja5-p {
    text-align: left;
    font-size: 1rem;
    height: 500px;
    width: 500px;
    border-bottom: solid var(--naranja);
}

#caja6 {
    justify-content: center;
    height: 700px;
    width: 600px;
    padding-top: 0;
    padding-right: 400px;
    padding-left: -200px;
}

#contenedor-4 {
    display: flex;
    flex-direction: row;
    background-color: #f3f4ee;
    height: 600px;
}

#caja7 {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 600px;
    margin-top: -300px;
    margin-left: 300px;
}

#caja8 {
    height: 500px;
    width: 700px;
    font-size: 1.5rem;
    margin-top: -200px;
    margin-left: 100px;
    padding-right: 50px;
    border-right: solid var(--naranja);
}

.titulo-eli {
    display: flex;
    flex-direction: column;
    background-color: #161616;
    height: 930px;
    margin-top: -100px;
}

.titulo-eli img {
    height: 930px;
    width: 930px;
    margin-top: -515px;
}


#bajada {
    padding-top: 100px;
    padding-left: 1050px;
    width: 700px;
    text-align: right;
    align-items: center;
    font-size: 1.5rem;
    margin-top: -500px;
    padding-bottom: 300px;
    color: #f3f4ee;
}

.italic {
    font-style: italic;
    font-weight: bold;
}

.numeros-1 {
    height: 300px;
    color: #f3f4ee;
    width: 300px;
    padding: 50px;

}

.numeros-section {
    display: flex;
    flex-direction: row;
    padding: 15px 0 0 50px;

}

.numeros-contenedor {
    border: 1px solid var(--naranja);
    background-color: #161616;
    border-radius: 50px;
    color: var(--naranja);
    height: 200px;
    width: 270px;
    align-content: center;
    text-align: center;
}


.numeros-p {
    font-size: 3rem;
}

.numeros-2 {
    height: 300px;
    color: #f3f4ee;
    padding: 50px 0 0;
}

.trampolin {
    font-size: 45px;
    color: #f3f4ee;
    height: 224px;
    width: 509px;
    margin-left: -350px;
    padding-top: 50px;
}

.incentivar {
    font-size: 1rem;
}

.trampolin strong {
    color: var(--naranja);
}


/*/Problemas/*/
.servicios {
    width: 100%;
    margin-top: -75px;
}

.problems-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #161616;
    height: 950px;
    margin-top: 0;
    text-align: left;
    background-image: url("../imagenes/fondo miscelaneas (1).png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #f3f4ee;

}



#problem-colum {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    padding-left: 50px;
    padding-top: 100px;
    height: 300px;
}

.problem-colum-2 {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-left: -200px;
    width: 1379px;
    padding-left: 200px;
}

.problem-colum-2 p {
    font-size: 1rem;
    padding-bottom: 50px;
}

.boton-problem {
    padding-bottom: 20px;
}

.problem-item {
    height: 250px;
    width: 350px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid var(--naranja);
    border-radius: 10%;
    padding: 50px 50px 50px 50px;
    background-image: url("../imagenes/PNG/Miscelaneas ES_misc1-violeta.png");
    background-repeat: no-repeat;
    background-position: -10px -10px;
    background-size: 5%;


}

.problem-item2 {
    height: 250px;
    width: 350px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid var(--naranja);
    border-radius: 10%;
    padding: 50px 50px 50px 50px;

}

.problem-item3 {
    height: 250px;
    width: 350px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid var(--naranja);
    border-radius: 10%;
    padding: 50px 50px 50px 50px;
}

.problem-item3 p {
    padding-bottom: 25px;
}

.problem-item4 {
    height: 250px;
    width: 350px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid var(--naranja);
    border-radius: 10%;
    padding: 50px 50px 50px 50px;
}

.problem-item4 p {
    padding-bottom: 25px;
}

.problem-item p {
    font-size: 1rem;
}

/* Conoceme*/
.contenedorGeneral {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    background-color: #161616;
    height: 1000px;
    width: 100%;
}

.conoceme1 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.conoceme-titulo {
    box-sizing: border-box;
    color: var(--naranja);
    font-size: 30px;
    font-weight: 600;
    padding-top: 100px;
    padding-left: 100px;
    padding-bottom: 0;
}

.conoceme-parrafo {

    font-size: 1.10rem;
    color: #f3f4ee;
    height: 50px;
    width: 500px;
    padding: 0 75px 75px 100px;
}

/* Pongamos en palabras */

.palabras-section {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 600px;
    width: 100%;
    text-align: left;
    padding-left: 0;
    padding-right: 0;
    background-color: var(--violeta);
}

.resaltado {
    margin-left: 350px;
    color: #f3f4ee;
    text-align: center;
    border-radius: 50px;
    background-color: var(--violeta);
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.resaltado:hover {
    background-color: var(--naranja);
}

.resaltado2 {
    text-align: center;
    background-color: var(--violeta);
    border-radius: 50px;
    margin-left: 550px;
    color: #f3f4ee;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.resaltado2:hover {
    background-color: var(--naranja);
}

#palabras-colum-1 {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#palabras-item {
    text-align: left;
    color: #161616;
    font-size: 50px;
    width: 570px;
    margin-top: -150px;
    padding-top: 100px;
    padding-left: 125px;
    padding-right: 0;
}

#palabras-colum-2 {
    height: 550px;
    width: 900px;
    margin-left: -100px;
    margin-right: 50px;
    padding-left: 30px;
}

#palabras-item-2 {
    height: 400px;
    align-items: center;
    margin-top: 5%;
    padding-left: 10%;
    text-align: left;
    font-size: 2rem;
}

#palabras-item-3 {
    box-sizing: border-box;
    width: 100%;
    height: 400px;
    align-items: center;
    margin-top: 10%;
    padding: 25px;
    text-align: left;
    font-size: 1rem;
}

#palabras-item-3 p {
    color: #f3f4ee;
    background-image: url("../imagenes/PNG/Miscelaneas ES_estrella amarilla.png");
    background-repeat: no-repeat;
    background-position: left top;
}

.img-palabras {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}


.palabra-p1 {
    color: #161616;
    font-size: 1.2rem;
    width: 700px;
    padding-left: 40px;
    padding-bottom: 25px;
    background-image: url("../imagenes/PNG/Miscelaneas ES_estrella blanca.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 25px;
    background-position-y: 3px;
}

/* servicios */

.acordeon {
    border: 0;
    background-color: var(--violeta);
}

#serviciostitulo1 {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    width: 100%;
    background-color: #f3f4ee;
    height: 100px;
    text-align: left;
    align-items: center;
    font-size: 50px;
    font-weight: 100;
    overflow: hidden;
    justify-content: space-evenly;
}

#serviciostitulo p {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font-size: 35px;
}

.servicios-subtitulo {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #f3f4ee;
    color: #161616;
    justify-content: space-evenly;
}

.servicios-subtitulo a {
    padding: 5px;
    font-size: 13px;
    border: 1px solid #161616;
    border-radius: 25px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
        /* Desplaza todo el ancho de una fila de logos */
    }
}


.servicios1-section {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    color: #161616;
    height: 700px;
    text-align: left;
    padding-left: 0;
    padding-right: 0;
    background-color: #f3f4ee;
}

.colum2 {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    height: 550px;
    padding: 0;
    border-radius: 25px;
}

.colum2 img {
    box-sizing: border-box;
    width: 100%;
    height: 500px;
    margin-top: -50px;
    padding: 30px;
    border-radius: 50px;
}


.colum1 {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0 50px 50px;
    font-size: 15px;
}

#colum1 u {
    color: var(--naranja);
}

/* Agregar al CSS existente */
.servicios-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: #161616;
    background-color: #f3f4ee;
    padding: 40px 0;
    /* Espaciado superior e inferior */
}

.servicio-titulo {
    font-size: 2.2rem;
    text-align: left;
    color: #161616;
}


/* Testimonios */

.testimonios {
    height: 600px;
    background-color: #161616;
    color: #f3f4ee;
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
    background-image: url("../imagenes/PNG/Miscelaneas ES_miscelanea nombre blanco.png");
    background-repeat: no-repeat;
    background-size: 6%;
    background-position: bottom;
    border: 1px solid var(--naranja);
    background-position-y: 490px;

}

#titulo-testimonios {
    height: 100px;
    text-align: center;
    font-size: 3.5rem;
    padding-top: 25px;

}

#testimonios-foto {
    height: 125px;
    width: 125px;
    border-radius: 100%;
    padding-left: 15px;
    margin-top: 0;
    margin-bottom: -35px;
    position: relative;
}

.texto-testimonios {
    height: 150px;
    width: 700px;
    margin-left: 25px;
    padding: 50px 25px 25px 25px;
    font-size: large;
    border: 1px solid var(--naranja);
    border-radius: 0 95px 0 95px;
    text-align: center;
}

/* Formulario */
.form-general {
    background-color: #f3f4ee;
    padding: 75px;
    background-image: url("../imagenes/PNG/Miscelaneas ES_misc1-naranja.png");
    background-repeat: no-repeat;
    background-position-x: 50px;
    background-position-y: 800px;
    background-size: 10%;
}

.section-form {
    border-radius: 75px;
    display: flex;
    flex-direction: row;
    background-color: #FFB217;
    padding-left: 50px;
    padding-right: 100px;
    height: 800px;
}

.section-1 {
    box-sizing: border-box;
    height: 500px;
    width: 100%;
    margin-top: 150px;
    color: #161616;
    margin-right: 50px;
    padding-left: 50px;
}

.titulo-form {
    font-size: 2.5rem;
}

#texto-form {
    padding-top: 50px;
    font-size: 1.5rem;
}

.form-registro {
    box-sizing: border-box;
    height: 700px;
    width: 100%;
    background-color: #FFB217;
    padding: 0;
    margin: 0 auto auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #f3f4ee;
}

.controls {
    width: 400px;
    background-color: #FFB217;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 0 solid var(--naranja);
    border-bottom-width: 1px;
    font-size: 18px;
    color: #161616;
}

.controls-2 {
    width: 400px;
    height: 400px;
    background-color: #FFB217;
    padding-bottom: 150px;
    border-radius: 4px;
    border-bottom: 1px solid var(--naranja);
    scrollbar-width: none;
    font-size: 18px;
    color: #161616;
}

.privacidad {
    font-size: 10px;
    width: 400px;
    margin-top: 25px;
}


.privacidad1 {
    height: 100px;
    width: 400px;
    text-align: center;
    font-size: 10px;
    line-height: 40px;
}

.boton-form {
    width: 200px;
    background-color: var(--naranja);
    border: none;
    padding: 12px;
    border-radius: 75px;
    color: #f3f4ee;
    font-size: 16px;
}

.imagenForm {
    height: 479px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    box-sizing: border-box;
    align-items: flex-start;
    margin: 0;
    margin-top: -200px;
    margin-bottom: -77px;

}

.imagenForm img {
    justify-content: right;
    height: 479px;
    box-sizing: border-box;
    margin-right: -75px;
}

p u {
    color: var(--naranja);
}

.footer {
    background-color: #161616;
    height: 300px;
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
}

.logo1 img {
    height: 100px;
    padding: 100px 0 0 100px;

}

.footer-items {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 125px 50px;
    width: 100%;
    box-sizing: border-box;
}

.footer-items li {
    margin: 15px;
    width: 100%;
    box-sizing: border-box;
}

.footer-items a {
    text-decoration: none;
    color: #f3f4ee;
    transition: color 0.3s;
    width: 100%;
    box-sizing: border-box;
}

.footer-items a:hover {
    color: var(--naranja);
    /* Color dorado al pasar el cursor */
}

.social-buttons2 {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background-color: #161616;
}

.social-buttons2 img {
    color: #f3f4ee;

}

.mail-footer {
    display: flex;
    flex-direction: row;
    padding-top: 139px;
    padding-left: 50px;
    padding-right: 0;
    width: 100%;
    box-sizing: border-box;
}

/* Carrusel */
.slider-frame {
    width: 1220px;
    height: auto;
    margin: 50px;
    overflow: hidden;
    background-color: #161616;
    animation: slide 15s infinite alternate ease-in-out;
}

.slider-frame ul {
    display: flex;
    padding: 0;
    width: 1220px;
}

.slider-frame li {
    list-style: none;
    width: 100%;
}

.slider-frame img {
    width: 100%;
}

@keyframes slide {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    95% {
        margin-left: -300%;
    }
}

@media only screen and (max-width: 1483px) {
    .problems-section {
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        padding: 0;
        height: 700px;
    }

    .problem-colum-2 {
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .problem-item {

        box-sizing: border-box;
        height: 250px;
        width: 350px;
        margin: 10px;
        padding-top: 30px;
        padding-bottom: 0px;
        border-radius: 50px;
        margin-bottom: 0px;

        p {
            font-size: 15px;
            padding-bottom: 20px;
        }
    }

    .cta-button {
        width: 100px;
        font-size: 10px;
    }

    .problem-item2 {
        box-sizing: border-box;
        height: 250px;
        width: 350px;
        margin: 10px;
        padding-top: 30px;
        padding-bottom: 0px;
        border-radius: 50px;
        margin-bottom: 0px;

        p {
            font-size: 15px;
            padding-bottom: 0px;
        }
    }

    .problem-item3 {

        box-sizing: border-box;
        height: 250px;
        width: 350px;
        margin: 10px;
        padding-top: 30px;
        padding-bottom: 0px;
        border-radius: 50px;
        margin-bottom: 0px;

        p {
            font-size: 15px;
            padding-bottom: 0px;
        }
    }

    .problem-item4 {
        box-sizing: border-box;
        height: 250px;
        width: 350px;
        margin: 10px;
        padding-top: 30px;
        padding-bottom: 0px;
        border-radius: 50px;
        margin-bottom: 0px;

        p {
            font-size: 15px;
            padding-bottom: 0px;
        }
    }

    .img-palabras {
        margin-top: -90px;
        padding-left: 10px;
        padding-top: 100px;
        width: 100%;
    }

    .palabra-p1 {
        padding-bottom: 25px;
        box-sizing: border-box;
        width: 100%;
        font-size: 15px;
        margin: 0;
    }

    /*FORM*/
    .form-general {
        box-sizing: border-box;
        width: 100%;
        background-image: none;
        height: 700px;
        padding: 2%;
        background-color: #FFB217;
    }

    .section-form {
        flex-direction: row;
        padding: 0%;
        height: 750px;
        width: 100%;
    }

    .titulo-form {
        font-size: 40px;
    }

    #texto-form {
        padding-top: 5px;
        font-size: 25px;
    }

    .form-registro {
        box-sizing: border-box;
        height: 400px;
        width: 100%;
        padding-top: 20px;
        margin-top: 0px;

    }

    .section-1 {
        width: 100%;
        box-sizing: border-box;
        margin-top: 100px;
        height: 200px;
    }

    .imagenForm {
        display: none;

    }

    .imagenForm img {
        justify-content: right;
        height: 379px;
        box-sizing: border-box;
        margin-right: -25px;
    }

    /*FOOTER*/

    .footer {
        box-sizing: border-box;
        width: 100%;
        height: 250px;
    }

    .logo1 {
        box-sizing: border-box;
        width: 100%;

        img {
            padding: 50px;
            padding-top: 75px;
        }
    }

    .mail-footer {
        box-sizing: border-box;
        width: 100%;
        padding: 0px;
        padding-top: 75px;
        margin: 0px;

        a {
            padding: 0;
            margin: 0;
            color: #f3f4ee;
        }
    }

    .footer-items {
        box-sizing: border-box;
        padding: 0;
        padding-top: 75px;

        li {
            font-size: 15px;

        }
    }

    .social-buttons2 {
        box-sizing: border-box;
        width: 100%;
    }

}

@media only screen and (max-width: 1200px) {
    .hero-header .top-title {
        display: block;
        margin-bottom: -5vw;
    }

    .hero-header .side-title {
        display: none;
    }

    .lohabiaspensado {
        display: flex;
        flex-direction: column;
        height: 300px;

    }

    .lohabiaspensado1 {
        font-size: 38px;
        padding: 25px;
        margin: 0;
        width: 100%;
        text-align: left;
    }

    .lohabiaspensado2 {
        text-align: left;
        font-size: 25px;
        padding: 25px;
        margin: 0;

    }

    #contenedor {
        box-sizing: border-box;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: left;
        margin: 0%;
    }

    .about-image {
        height: 500px;
        margin-top: -185px;
        padding-left: 0;

    }

    #caja1 {
        align-self: center;
        height: 200px;
        padding-top: 0px;
        padding-left: 0px;

    }

    .caja2 {
        width: 100%;
        height: 600px;
        padding: 0px;

        margin-top: 100px;

        p {
            font-size: 20px;
            margin-left: 0px;
        }

        .hola {
            font-size: 50px;
        }

    }

    #contenedor-2 {
        margin: 0;
        padding: 0px;
    }

    #caja3 {
        margin: 0;
        font-size: 10px;
        padding: 0px;

        p {
            margin-top: 10px;


        }
    }

    /*Problemas*/
    #servicios {
        height: 350px;
    }

    .problems-section {
        display: flex;
        flex-direction: column;
        height: 100px;
        margin-top: 10px;
        padding-left: 25px;
        background-image: none;
        padding-top: 20px;
        box-sizing: border-box;

    }


    #problem-colum {
        height: 50px;
        padding-top: 0px;
        padding-left: 15px;
        margin-top: 0px;
        justify-content: space-around;
    }


    h2 {
        box-sizing: border-box;
        width: 100%;
        font-size: 30px;
        padding-bottom: 0px;
        margin-bottom: 0;
    }

    .problem-colum-2 {
        display: flex;
        flex-direction: row;
        margin: 15px;
        width: 100%;
        padding-left: 5px;
        justify-content: space-between;
    }

    .problems-section {
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        padding: 0;
        height: 700px;
    }

    .problem-colum-2 {
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .problem-item {

        box-sizing: border-box;
        height: 250px;
        width: 350px;
        margin: 5px;
        padding-top: 30px;
        padding-bottom: 0px;
        border-radius: 50px;
        margin-bottom: 0px;

        p {
            font-size: 11px;
            padding-bottom: 20px;
        }
    }

    .cta-button {
        width: 100px;
        font-size: 11px;
    }

    .problem-item2 {
        box-sizing: border-box;
        height: 250px;
        width: 350px;
        margin: 5px;
        padding-top: 30px;
        padding-bottom: 0px;
        border-radius: 50px;
        margin-bottom: 0px;

        p {
            font-size: 11px;
            padding-bottom: 0px;
        }
    }

    .problem-item3 {

        box-sizing: border-box;
        height: 250px;
        width: 350px;
        margin: 5px;
        padding-top: 30px;
        padding-bottom: 0px;
        border-radius: 50px;
        margin-bottom: 0px;

        p {
            font-size: 11px;
            padding-bottom: 0px;
        }
    }

    .problem-item4 {
        box-sizing: border-box;
        height: 250px;
        width: 350px;
        margin: 5px;
        padding-top: 30px;
        padding-bottom: 0px;
        border-radius: 50px;
        margin-bottom: 0px;

        p {
            font-size: 11px;
            padding-bottom: 0px;
        }
    }

    /*/CONOCEME/*/
    .conoceme-titulo {
        padding: 50px;
        padding-bottom: 0;
        font-size: 35px;
    }

    .conoceme-parrafo {
        padding: 50px;
        padding-top: 15px;
        padding-bottom: 75px;
        font-size: 15px;
    }

    .contenedorGeneral {
        padding: 0;
        display: flex;
        flex-direction: row;
        height: 1000px;
        width: 100%;
    }

    .numeros-section {
        display: flex;
        flex-direction: column;
        padding: 0px;
        width: 100%;
    }

    .numeros-1 {

        margin-bottom: -100px;
    }

    .numeros-2 {
        width: 300px;
        padding: 50px 50px 0px 50px;
        margin-top: -50px;


    }

    .trampolin {
        width: 600px;
        margin-left: 200px;
        margin-top: 20px;
        margin-right: 5px;
        margin-bottom: 0;
        padding: 0;
        font-size: 35px;
    }

    .palabras-item-3 {}

    .img-palabras {
        margin-top: -90px;
        padding-left: 10px;
        padding-top: 100px;
        width: 100%;
    }

    .palabra-p1 {
        width: 100%;
        font-size: 15px;
        margin: 0;
        padding-bottom: 25px;
    }

    /* Pongamos en palabras */

    #palabras-item {
        text-align: left;
        color: #161616;
        font-size: 35px;
        width: 100%;
        margin-top: -150px;
        margin-right: 25px;
        padding-top: 100px;
        padding-left: 50px;
        padding-right: 25px;
        padding-right: 0;
    }

    #palabras-colum-2 {
        box-sizing: border-box;
        height: 550px;
        width: 100%;
        margin-left: 0px;
        margin-top: 25px;
        margin-right: 50px;
        padding-left: 30px;
        padding-top: 25px;
    }

    /*SERVICIOS*/
    #serviciostitulo {
        p {
            font-size: 20px;
        }
    }

    .servicios-subtitulo {
        box-sizing: border-box;
        flex-direction: row;
        align-items: center;
    }

    .servicios1-section {
        box-sizing: border-box;
        flex-direction: row;
        justify-content: none;
        align-items: center;
        width: 100%;
        margin: 0px;
        padding: 0px;
        height: 550px;


    }

    .colum1 {
        box-sizing: border-box;
        width: 100%;
        font-size: 10px;
        padding: 15px;
    }

    .colum2 {
        box-sizing: border-box;
        width: 100%;
        padding: 0;
        margin: 0;

        img {
            width: 100%;
            margin: 0;
            padding: 0;
        }
    }

    .servicio-titulo {
        font-size: 25px;
    }

    /*/FORM/*/
    .form-general {
        height: 850px;
        width: 100%;
        background-color:#FFB217;
    }

    .section-1 {
        box-sizing: border-box;
        width: 100%;
    }

    .section-form {

        height: 800px;
        width: 100%;
        border-radius: 0%;
          }

    .titulo-form {
        font-size: 50px;
        width: 100%;

    }

    .form-registro {
        box-sizing: border-box;
        height: 400px;
        width: 100%;
        padding-top: 20px;
        margin-top: 0px;
    }

    .imagenForm {
        display: none;
    }

    .footer{display: none;}
    /* .footer {
        box-sizing: border-box;
        width: 100%;
        height: 250px;

          }

    .logo1 {
        box-sizing: border-box;
        width: 100%;

        img {
            padding: 50px;
            padding-top: 75px;
        }
    }

    .mail-footer {
        box-sizing: border-box;
        width: 100%;
        padding: 0px;
        padding-top: 75px;
        margin: 0px;

        a {
            padding: 0;
            margin: 0;
            color: #f3f4ee;
        }
    }

    .footer-items {
        box-sizing: border-box;
        padding: 0;
        padding-top: 75px;

        li {
            font-size: 15px;

        }
    }

    .social-buttons2 {
        box-sizing: border-box;
        width: 100%;
    } */


}

@media only screen and (max-width: 991px) {

    /*Problemas*/
    #servicios {
        height: 850px;
        box-sizing: border-box;
        width: 100%;
    }

    h2 {
        box-sizing: border-box;
        width: 100%;
        font-size: 20px;
        color: #161616;
        margin-top: -75px;
    }

    .problem-colum-2 {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        margin: 0;
        width: 100%;
        padding: 2px;
        justify-content: space-around;
    }

    #problem-colum {

        box-sizing: border-box;
        margin-bottom: 0;
        padding-bottom: 0;
        height: 200px;
        align-items: center;
    }

    .problems-section {
        display: flex;
        flex-direction: column;
        height: 800px;
        margin-top: 0;
        box-sizing: border-box;

    }

    .problem-colum-2 {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100%;

        align-items: center;
    }

    #problem-colum {
        box-sizing: border-box;
        margin-bottom: 0;
        padding-bottom: 0;
        padding-top: 0;
        margin-top: -25px;
        height: 100px;
        align-items: center;
    }

    .problem-item {
        height: 150px;
        width: 100%;
        margin-bottom: 10px;
        padding: 30px;
        border-radius: 50px;

        p {
            font-size: 13px;
            padding-bottom: 5px;
        }

        background-image: none;
    }

    .problem-item2 {
        height: 150px;
        width: 100%;
        margin-bottom: 10px;
        padding: 30px;
        border-radius: 50px;

        p {
            font-size: 13px;
            padding-bottom: 5px;
        }

        background-image: none;
    }

    .problem-item3 {
        height: 150px;
        width: 100%;
        margin-bottom: 10px;
        padding: 30px;
        border-radius: 50px;

        p {
            font-size: 13px;
            padding-bottom: 5px;
        }

        background-image: none;
    }

    .problem-item4 {

        height: 150px;
        width: 100%;
        margin-bottom: 10px;
        padding: 30px;
        border-radius: 50px;

        p {
            font-size: 13px;
            padding-bottom: 5px;
        }

        background-image: none;
    }

    /*/CONOCEME/*/
    .conoceme-titulo {
        padding: 50px;
        padding-bottom: 0;
        font-size: 35px;
    }

    .conoceme-parrafo {
        padding: 50px;
        padding-top: 15px;
        padding-bottom: 75px;
        width: 400px;
        font-size: 15px;

    }

    .contenedorGeneral {
        padding: 0;
        display: flex;
        flex-direction: row;
        height: 1000px;
        box-sizing: border-box;
    }

    .numeros-section {

        display: flex;
        flex-direction: column;
        padding: 0px;
    }

    .numeros-1 {

        margin-bottom: -100px;
    }

    .numeros-2 {
        width: 300px;
        padding: 50px 50px 0px 50px;
        margin-top: -50px;


    }

    .trampolin {
        width: 500px;
        margin-left: 100px;
        margin-top: 20px;
        margin-right: 5px;
        margin-bottom: 0;
        padding: 0;
        font-size: 35px;
    }

    .palabras-item-3 {}

    .img-palabras {
        margin-top: -40px;
        margin-left: -40px;
        padding-left: 0px;
        padding-top: 0px;
        width: 100%;
    }

    .palabra-p1 {
        width: 105%;
        font-size: 15px;
        margin-left: -99px;
        margin-top: 15px;
        padding: 0;
        padding-left: 25px;
        padding-right: 0px;
        padding-bottom: 25px;

    }

    #palabras-item {
        box-sizing: border-box;
        text-align: left;
        color: #161616;
        font-size: 35px;
        width: 100%;
        margin-top: 0px;
        margin-right: 0px;
        padding-top: 50px;
        padding-left: 50px;

    }

    #palabras-colum-2 {
        box-sizing: border-box;
        height: 250px;
        width: 100%;
        margin-left: 0px;
        margin-top: 0px;
        margin-left: 50px;
        padding-left: 50px;

    }

    .palabras-section {
        box-sizing: border-box;
        flex-direction: column;
        height: 600px;
        width: 100%;

    }

    .palabra-p1 {
        color: #161616;
        font-size: 15px;
        width: 100%;
        padding: 0;
        padding-left: 20px;
        padding-bottom: 25px;
        background-image: url("../imagenes/PNG/Miscelaneas ES_estrella blanca.png");
        background-repeat: no-repeat;
        background-position: left;
        background-size: 15px;
        background-position-y: 3px;
        margin: 0;

    }

    /*SERVICIOS*/
    #serviciostitulo {
        p {
            font-size: 20px;
        }
    }

    .servicios-subtitulo {
        box-sizing: border-box;
        flex-direction: row;
        align-items: center;
    }

    .servicios1-section {
        box-sizing: border-box;
        flex-direction: row;
        justify-content: none;
        align-items: center;
        width: 100%;
        margin: 0px;
        padding: 0px;
        height: 550px;


    }

    .colum1 {
        box-sizing: border-box;
        width: 100%;
        font-size: 10px;
        padding: 15px;
    }

    .colum2 {
        box-sizing: border-box;
        width: 100%;
        padding: 0;
        margin: 0;

        img {
            width: 100%;
            margin: 0;
            padding: 0;
        }
    }

    .servicio-titulo {
        font-size: 25px;
    }

    /*/FORM/*/
    .form-general {
        box-sizing: border-box;

        width: 100%;
        background-image: none;
        height: 1000px;
        padding: 0;
        background-color: #FFB217;
    }

    .section-form {
        box-sizing: border-box;
        width: 100%;
        flex-direction: column;
        padding: 0%;
        height: 900px;
    }

    .titulo-form {
        box-sizing: border-box;
        width: 100%;
        padding: 0px;
        padding-top: 0;
        margin: 0;
        font-size: 40px;
    }

    #texto-form {
        box-sizing: border-box;
        width: 100%;
        padding: 0px;
        font-size: 15px;
        margin: 0;
        margin-bottom: 10px;
        text-align: center;
    }

    .form-registro {
        box-sizing: border-box;
        width: 100%;
        height: 300px;
        padding-top: 0px;
        margin-top: 0px;

    }

    .section-1 {
        box-sizing: border-box;
        width: 100%;
        margin-top: 100px;
        height: 200px;
    }

    .imagenForm {
        display: none;
    }

    /*/FOOTER/*/
    .footer{
        display: none;
    }
    /* .footer {
        box-sizing: border-box;
        width: 100%;
        height: 250px;
      
    }

    .logo1 {
        box-sizing: border-box;
        width: 100%;

        img {
            padding: 40px;
            padding-top: 100px;
            height: 45px;

        }
    }

    .mail-footer {
        box-sizing: border-box;
        width: 100%;
        padding: 0px;
        padding-top: 100px;
        margin: 0px;

        a {
            padding: 0;
            margin: 0;
            color: #f3f4ee;
            font-size: 10px;
        }
    }

    .footer-items {
        box-sizing: border-box;
        width: 100%;
        box-sizing: border-box;
        padding: 0;
        padding-top: 95px;

        li {
            font-size: 10px;

        }

    }

    .social-buttons2 {
        box-sizing: border-box;
        width: 100%;
        padding: 0;

    } */

}

@media only screen and (max-width: 767px) {
    h1 {
        font-size: 35px;
    }

    .hero-header {
        padding: 0 15px;
    }

    .hero-header .top-title {
        margin-bottom: 0;
    }

    .header-content {
        padding: 20px 0 40px;
    }

    .header-image {
        display: none;
    }

    .hamburguesa {
        display: block;
    }

    .nav-items {
        display: none;
        width: 100%;
        flex-direction: column;
    }

    .navbar.open {
        background-color: white;
    }

    .navbar.open .nav-items {
        display: flex;
    }

    .social-buttons {
        display: none;
    }

    .lohabiaspensado {
        display: flex;
        flex-direction: column;
        height: 300px;


    }

    .lohabiaspensado1 {
        font-size: 28px;
        padding: 10px;
        margin: 0;
        width: 100%;
        text-align: left;
    }

    .lohabiaspensado2 {
        text-align: left;
        font-size: 15px;
        padding: 10px;
        margin: 0;

    }

    #contenedor {
        box-sizing: border-box;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: left;
        margin: 0%;
    }

    .about-image {
        height: 500px;
        margin-top: -145px;
        padding-left: 15px;
        width: 100%;

    }

    #caja1 {
        align-self: center;
        height: 200px;
        padding-top: 0px;
        padding-left: 0px;

    }

    .caja2 {
        width: 100%;
        height: 600px;
        padding: 15px;
        margin-top: 0px;
        margin: 10px;
        margin-bottom: 50px;

        p {
            font-size: 20px;

        }


    }

    .hola {
        font-size: 50px;
        margin-top: 150px;
        padding-left: 15px;
    }

    #contenedor-2 {
        box-sizing: border-box;
        margin: 0;
        padding: 10px;
    }

    #caja3 {

        padding: 0px;

        p {
            font-size: 12px;
        }
    }

    .caja-p {
        font-size: 5px;
        margin-left: 15px;
        padding-left: 15px;


    }

    h3 {
        padding-left: 15px;


    }


    .problems-section {
        display: flex;
        flex-direction: column;
        height: 800px;
        margin-top: 0;
        box-sizing: border-box;

    }

    .problem-colum-2 {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100%;

        align-items: center;
    }

    #problem-colum {
        box-sizing: border-box;
        margin-bottom: 0;
        padding-bottom: 0;
        padding-top: 0;
        margin-top: -25px;
        height: 100px;
        align-items: center;
    }

    .problem-item {
        height: 150px;
        width: 100%;
        margin-bottom: 10px;
        padding: 30px;
        border-radius: 50px;

        p {
            font-size: 13px;
            padding-bottom: 5px;
        }

        background-image: none;
    }

    .problem-item2 {
        height: 150px;
        width: 100%;
        margin-bottom: 10px;
        padding: 30px;
        border-radius: 50px;

        p {
            font-size: 13px;
            padding-bottom: 5px;
        }

        background-image: none;
    }

    .problem-item3 {
        height: 150px;
        width: 100%;
        margin-bottom: 10px;
        padding: 30px;
        border-radius: 50px;

        p {
            font-size: 13px;
            padding-bottom: 5px;
        }

        background-image: none;
    }

    .problem-item4 {

        height: 150px;
        width: 100%;
        margin-bottom: 10px;
        padding: 30px;
        border-radius: 50px;

        p {
            font-size: 13px;
            padding-bottom: 5px;
        }

        background-image: none;
    }

    .conoceme-titulo {
        padding: 50px;
        padding-bottom: 0;
        font-size: 35px;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .conoceme-parrafo {
        padding: 50px;
        padding-top: 15px;
        padding-bottom: 75px;
        font-size: 15px;
        box-sizing: border-box;
        text-align: left;
        width: 100%;
    }

    .contenedorGeneral {
        box-sizing: border-box;
        padding: 0;
        display: flex;
        flex-direction: column;
        height: 1600px;
        width: 100%;
    }

    .numeros-section {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        padding: 0px;
        width: 100%;
    }

    .numeros-1 {
        /* padding: 100px;
    padding-left: 75px;
    margin-top: 50px; */
        box-sizing: border-box;
        margin: 5px;
        align-items: center;
        width: 100%;
    }

    .numeros-contenedor {
        width: 100%;
    }

    .numeros-2 {
        width: 100%;
        padding: 50px 50px 0px 50px;
        margin-top: -50px;
        box-sizing: border-box;
        text-align: center;

    }

    .trampolin {
        box-sizing: border-box;
        width: 100%;
        text-align: left;
        margin-left: 10px;
        margin-top: 15px;
        margin-right: 5px;
        margin-bottom: 0;
        padding-top: 50px;
        padding-bottom: 50px;

        font-size: 25px;
    }

    .palabras-item-3 {
        box-sizing: border-box;
    }

    .img-palabras {
        box-sizing: border-box;
        margin-top: -15px;
        padding-left: 10px;
        padding-top: 100px;
        margin-left: 10px;
        width: 100%;
    }

    .servicios-subtitulo {
        flex-direction: column;
    }

    .palabra-p1 {
        box-sizing: border-box;
        width: 100%;
        font-size: 15px;
        margin-left: 0;
        padding-bottom: 25px;
    }
    .servicios1-section{
        height: 550px;
        margin: 0;
        padding: 10px;
        justify-content:center;
    }

    #palabras-colum-2 {
        box-sizing: border-box;
        height: 250px;
        width: 100%;
        margin: 0px;
        padding: 0px;

    }

    /*/FORM/*/
    .form-general {
        box-sizing: border-box;

        width: 100%;
        background-image: none;
        height: 800px;
        padding: 0;
        background-color: #FFB217;
    }

    .section-form {
        box-sizing: border-box;
        width: 100%;
        flex-direction: column;
        padding: 0%;
        height: 500px;
    }

    .titulo-form {
        box-sizing: border-box;
        width: 100%;
        padding: 0px;
        padding-top: 0;
        margin: 0;
        font-size: 20px;
    }

    #texto-form {
        box-sizing: border-box;
        width: 100%;
        padding: 0px;
        font-size: 10px;
        margin: 0;
        margin-bottom: 10px;
        text-align: left;
    }

    .form-registro {
        box-sizing: border-box;
        width: 100%;
        height: 300px;
        padding-top: 0px;
        margin-top: 0px;

    }

    .section-1 {
        box-sizing: border-box;
        width: 100%;
        margin-top: 100px;
        padding: 10px;
        height: 200px;
    }

    .imagenForm {
        display: none;
    }

    .controls {
        box-sizing: border-box;
        width: 100%;
        font-size: 10px;
    }

    .controls-2 {
        box-sizing: border-box;
        width: 100%;
        font-size: 10px;
    }

    .privacidad {
        font-size: 8px;
        width: 100%;
    }

    .cta-button3 {
        height: 30px;
        font-size: 10px;

    }

    .footer {
       display: none;
    }


}

@media only screen and (max-width: 480px) {
    #contenedor {
        box-sizing: border-box;
        width: 100%;
        height: 775px;
    }

    .caja2 {
        box-sizing: border-box;
        width: 100%;

        h3 {
            box-sizing: border-box;
            width: 100%;
            font-size: 50px;
            font-weight: 0;
            padding: 0;
            margin: 0;
        }
    }


    .problems-section {
        box-sizing: border-box;
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 900px;
        margin: 0;
        padding: 0;

    }

    .problem-colum-2 {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100%;
        padding-left: 0px;
    }

    #problem-colum {
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        padding: 0;
        height: 100px;
        align-items: flex-end;
    }

    .problem-item {

        height: 170px;
        width: 100%;
        margin-bottom: 10px;
        padding: 25px;
        border-radius: 50px;

        p {
            font-size: 13px;
            padding-bottom: 0px;
        }

        background-image: none;
    }

    .problem-item2 {

        height: 170px;
        width: 100%;
        margin-bottom: 10px;
        padding: 25px;
        border-radius: 50px;

        p {
            font-size: 13px;
            padding-bottom: 0px;
        }

        background-image: none;
    }

    .h2 {
        box-sizing: border-box;
        width: 100%;
        height: 100px;
    }

    .problem-item3 {

        height: 170px;
        width: 100%;
        margin-bottom: 10px;
        padding: 25px;
        border-radius: 50px;

        p {
            font-size: 13px;
            padding-bottom: 0px;
        }

        background-image: none;
    }


    .problem-item4 {

        height: 170px;
        width: 100%;
        margin-bottom: 10px;
        padding: 25px;
        border-radius: 50px;

        p {
            font-size: 13px;
            padding-bottom: 0px;
        }

        background-image: none;
    }


    .conoceme-titulo {
        padding: 50px;
        padding-bottom: 0;
        font-size: 25px;
    }

    .conoceme-parrafo {
        box-sizing: border-box;
        padding: 50px;
        padding-top: 15px;
        padding-bottom: 75px;
        font-size: 13px;
    }

    .contenedorGeneral {
        box-sizing: border-box;
        padding: 0;
        display: flex;
        flex-direction: column;
        height: 1600px;
    }

    .numeros-section {
        display: flex;
        flex-direction: column;
        padding: 0px;
    }

    .numeros-1 {
        /* padding: 100px;
    padding-left: 75px;
    margin-top: 50px; */
        margin-bottom: -100px;
    }

    .numeros-contenedor {
        width: 100%;
    }

    .numeros-2 {
        width: 100%;
        padding: 50px 50px 0px 50px;
        margin-top: 20px;

    }

    .trampolin {
        width: 100%;
        margin-left: 10px;
        margin-top: 15px;
        margin-right: 5px;
        margin-bottom: 0;
        padding: 0;
        font-size: 25px;
    }

    .palabras-item-3 {}

    .img-palabras {
        margin-top: 20px;
        padding-left: 10px;
        padding-top: 100px;
        width: 100%;
    }

    .palabra-p1 {
        width: 100%;
        font-size: 15px;
        margin: 0;
        padding-bottom: 25px;
    }

    /*/PALABRAS/*/
    #palabras-item {
        box-sizing: border-box;
        text-align: left;
        color: #161616;
        font-size: 35px;
        width: 100%;
        margin-top: 0px;
        margin-right: 0px;
        padding-top: 50px;
        padding-left: 50px;

    }

    #palabras-colum-2 {
        box-sizing: border-box;
        height: 250px;
        width: 100%;
        margin-left: 0px;
        margin-top: 0px;
        margin-left: 0px;


    }

    .palabras-section {
        box-sizing: border-box;
        flex-direction: column;
        height: 800px;
        width: 100%;

    }

    .palabra-p1 {
        color: #161616;
        font-size: 15px;
        width: 100%;
        padding: 20px;
        background-image: none;
        padding-bottom: 15px;


    }

    /*SERVICIOS*/
    #serviciostitulo {
        p {
            font-size: 30px;
        }
    }

    .problems-section {
        box-sizing: border-box;
        width: 100%;
        padding: 10px;
        margin: 0;
    }

    .servicios-subtitulo {
        box-sizing: border-box;
        flex-direction: column;
        align-items: center;
    }

    .servicios1-section {
        box-sizing: border-box;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 0px;
        padding: 10px;
        padding-top: 15px;
        height: 328px;
        margin-bottom: 0;


    }

    .colum1 {
        box-sizing: border-box;
        width: 100%;
        font-size: 10px;
        padding: 0px;
        margin: 0;
    }

    .colum2 {
        display: none;
    }

    .cta-button2 {
        font-size: 10px;
        height: 30px;
        align-items: center;
    }

    .servicio-titulo {
        font-size: 25px;
        margin-top: 20px;
    }

    #serviciostitulo p {
        font-size: 20px;
    }

    /*FORM*/
    .form-general {
        box-sizing: border-box;
        width: 100%;
        background-image: none;
        height: 1000px;
        padding: 2%;
        background-color: #FFB217;
    }

    .section-form {
        box-sizing: border-box;
        width: 100%;
        flex-direction: column;
        padding: 0px;
        margin: 0px;
        height: 600px;
    }

    .titulo-form {
        font-size: 20px;
        box-sizing: border-box;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    #texto-form {
        box-sizing: border-box;
        width: 100%;
        padding-top: 5px;
        font-size: 15px;
    }

    .form-registro {
        height: 400px;
        box-sizing: border-box;
        width: 100%;
        padding-top: 20px;
        padding: 0;
        margin-top: 0px;
        margin: 0;

    }

    #contacto.form-general {
        height: 700px;
    }

    .controls {
        box-sizing: border-box;
        width: 100%;
        padding: 0px;
        margin: 0px;
        margin-bottom: 10px;
    }

    .section-1 {
        box-sizing: border-box;
        width: 100%;
        margin-top: 10px;
        padding: 0;
        height: 200px;
    }

    .imagenForm {
        display: none;
    }

    .controls-2 {
        width: 100%;
        font-size: 10px;
    }

    .privacidad {
        box-sizing: border-box;
        font-size: 8px;
        width: 100%;
        margin: 0;
        padding: 0;

    }

    .privacidad1 {
        font-size: 8px;
    }

    .cta-button3 {
        height: 30px;
        font-size: 10px;

    }
    .footer{
        display: none;
    }
}

@media only screen and (max-width: 365px) {
    .problems-section {
        box-sizing: border-box;
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 1100px;
        margin: 0;
        padding-top: 100px;


    }

    #servicios {
        box-sizing: border-box;
        margin: 0;

        height: 950px;
    }

    .cta-button {
        height: 30px;
        font-size: 10px;

    }
    .footer{
        display: none;
    }
}