*{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #E0A5FF;
}

header {

    position: relative;
    /* Cambia absolute a relative */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* Mantén esta línea si quieres que el header siga ocupando toda la pantalla */
    /* ... resto del CSS del header ... */

    background-image: url(/imagenes/armarios-azules-naranjas_23-2148518393.jpg);
    background-size: cover;

    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.header-content {
    background: rgba(0, 0, 0, 0.10);
    padding: 20px;
    border-radius: 50px;

}


h1 {
    font-size: 2.5rem;

}


h3 {
    color: #FF5C22;
    ;
    text-shadow: 3px 3px 0px #000, 5px 5px 0px violet;
}

.cta-button {
    background-color: #FF5C22;
    /* Color naranja */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #E0A5FF;
    /* Color violeta al pasar el mouse */
}

.collaborated-companies {
    background-color: #000;
    border-style: solid;
    border-color: #FFB217;
    border-width: 1px 0px 1px 0px;
    text-align: center;
    opacity: 80%;
}



.collaborated-companies h2 {
    font-size: 4rem;
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    color: #FF5C22;
    ;
    text-shadow: 3px 3px 0px #000, 5px 5px 0px violet;
}

.collaborated-companies h2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    /* Altura del subrayado */
    width: 100%;
    background-color: #FF5C22;
    /* Color naranja */
    transform: scaleX(0);
    /* Inicialmente no visible */
    transition: transform 0.3s ease;
    /* Animación de transición */
}

.collaborated-companies h2:hover::after {
    transform: scaleX(1);
    /* Expande el subrayado al pasar el mouse */
}

.collaborated-companies p {
    color: #FF5C22;
}

.company-logos {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    /* Asegura que las imágenes se alineen en una sola línea */
    position: relative;
}

.company-logos img {
    display: inline-block;
    /* Asegura que cada imagen se trate como un bloque en línea */
    max-width: 400px;
    /* Ajusta el tamaño de las imágenes */
    height: auto;
    margin: 0 3px;
    /* Añade un margen entre las imágenes */
    border-radius: 100%;
}

/*Presentación Eli*/
.about-me {
    display: flex;
    flex-direction:row;
    justify-content: center;

    background-image: white;
    background-size: cover;
border: 5px solid#000;
    color: orange;
    /* Color del texto */
    padding: 0%;
    /* Espaciado alrededor */
    text-align: left;
    /* Alinea el texto a la izquierda */
height: 700px;

}


.about-content1 {

    position: relative;
    /* Necesario para la posición de los elementos hijos */
    display: flex;
    /* Usa flexbox para alinear imagen y texto */
    align-items: center;
    /* Centra verticalmente los elementos */
    animation: fadeIn 3s;
    /* Animación de entrada de 3 segundos */

}

.about-text {
    background-color: white;
    width: 50px;
    ;
    height: 50px;

    color: black;
    position: relative;
    top: 50px;
    left: 50px;


}
/* 

.about-image {

    width: 700px;
    /* Ancho de la imagen */
    height: 700px;
    /* Alto de la imagen */
  
    /* top: 500px;
    left: 500px;
    animation: slideIn 6s; */
    /* Animación de entrada de 6 segundos */

} */

#about-p-1 {

    background-color: white;
    color: #E0A5FF;
    font-size: 1.5rem;
    padding: 5px;
    overflow: hidden;
}

#about-p-2 {
    width: 50%;
    height: 35%;
 align-items: center;
    background-color: white;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    margin-left: 50px;
    border-top: solid 10px #E0A5FF;
    border-right: solid 10px #E0A5FF;


}



h2 {
    font-size: 10rem;
    position: relative;

}

h3 {
    color: #000;
    font-size: 5rem;
    position: relative;


}

/* Definición de la animación */
@keyframes fadeIn {
    from {
        opacity: 0;
        /* Comienza invisible */
        transform: translateY(30px);
        /* Desplazamiento hacia abajo */
    }

    to {
        opacity: 1;
        /* Finalmente visible */
        transform: translateY(0);
        /* Sin desplazamiento */
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        /* Comienza invisible */
        transform: translateX(30px);
        /* Desplazamiento hacia la izquierda */
    }

    to {
        opacity: 1;
        /* Finalmente visible */
        transform: translateX(0);
        /* Sin desplazamiento */
    }
}

/* Problemas con los que puedo ayudarte*/

h4{
    position: relative;
    color: #000;
    align-items: center;

}
    
.problems-section {
    background-color: #f4f4f4; /* Background color for the section */
    padding: 40px 20px;
}

.problem-item {
    background-color: #FF5C22; /* Background color of each item */
    color: white;
    margin: 10px auto;
    padding: 15px;
    border-radius: 8px;
    transition: transform 0.3s;
}

.problem-item:hover {
    transform: scale(1.05); /* Scale effect on hover */
}

.service-link {
    display: inline-block;
    margin-top: 10px;
    color: white;
    text-decoration: underline;
}
/*/Presentación Eli/*/

#contenedor{
display: flex;
flex-direction: row;
align-items:center;
padding: 0%;
}
.elemento{
   width: 800px;
   height: 500px;
   padding: 0%;
}
#caja1{
    align-self: center;
    height: 700px;
    left: 700px;
padding-left: 7.5%;

}
#caja-p{

height: 300px;
font-size: 2rem;
text-align: end;
color: white;
}
.about-image{
    width: 800px;
    height: 800px;
   border-radius:100% 100% 100% 0% ;
   
}

#caja2{
    align-items: center;
background-color: #f4f4f4;
width: 800px;
height: 700px;
border-radius: 0% 15% 0% 0% ;
margin-top: -100px;
margin-right: 50px;
margin-left: 50px;
margin-bottom: 0px;
}

#contenedor-2{
   
height: 500px;
background-color: #E0A5FF;
display: flex;
flex-direction: row;

align-items: flex-start;

}

#caja3{
    line-height: 1.5em;
    letter-spacing: 0.5px;
    text-align: center;
    background-color: white;
    font-size: 1.3rem;
    width: 600px;
    height: 400px;
    padding: 100px 100px 100px 100px;
    border-radius: 0% 0% 0% 25%;
    margin-top: -80px;
    margin-left: 300px;
    margin-right: 0px;
    margin-bottom: 0px;
  
   }

   #caja4{
    text-align: center;
    font-size: xx-large;

    width: 400px;
    height: 400px;
    padding: 50px 75px 50px 5px;
    
    margin-top: -100px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 0px;
    color:#E0A5FF;
    font-family: "Nunito Sans", Sans-serif;
    font-size: 50px;
    font-weight: 900;
    line-height: 0.95em;
    -webkit-text-stroke-width: 1px;
    stroke-width: 1px;
    -webkit-text-stroke-color: #FF5C22;
    stroke: #FF5C22;

   }
